<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Configuración Inicial</title>

    <link rel="stylesheet" href="../assets/css/style.css">

</head>

<body>

    <div class="login-container">

        <h2>Configuración Inicial</h2>

        <p>Esta computadora aún no está registrada.</p>

        <br>

        <label>Nombre del equipo</label>

        <input
            type="text"
            id="txtHostname"
            readonly>

        <br><br>

        <label>Ambiente</label>

        <select id="cmbAmbientes">

        </select>

        <br><br>

        <button id="btnGuardar">

            Guardar configuración

        </button>

        <p id="lblMensaje"></p>

    </div>

    <script src="../assets/js/configurarEquipo.js"></script>

</body>

</html>