<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>SGCE - Inicio de Sesión</title>

    <link rel="stylesheet" href="../assets/css/style.css">

</head>

<body>

    <div class="login-container">

        <h2>SGCE</h2>

        <p>Sistema de Gestión y Comunicación Escolar</p>

        <input
            type="text"
            id="txtUsuario"
            placeholder="Usuario">

        <input
            type="password"
            id="txtPassword"
            placeholder="Contraseña">

        <button id="btnIngresar">
            Ingresar
        </button>

        <p id="lblMensaje"></p>

    </div>

    <script src="../assets/js/login.js"></script>

</body>

</html>