<meta charset="UTF-8">

<title>SGCE</title>

<link rel="stylesheet" href="../assets/css/dashboard.css">


<div class="container">

    <aside class="sidebar">

        <h2>SGCE</h2>


        <button id="btnInicio">
            🏠 Inicio
        </button>


        <button id="btnEstudiantes">
            👨‍🎓 Estudiantes
        </button>


        <button id="btnSalidas">
            🚻 Salidas
        </button>


        <button id="btnHistorial">
            📋 Historial
        </button>


        <button id="btnMensajes">
            🔔 Mensajes
        </button>


        <button id="btnReportes">
            📊 Reportes
        </button>


        <button id="btnConfiguracion">
            ⚙ Configuración
        </button>


    </aside>



    <main class="content">


        <header class="topbar">


            <div>

                <h2>
                    Sistema de Gestión y Comunicación Escolar
                </h2>

            </div>


            <div id="lblHora"></div>


        </header>



        <section id="contenido">

        </section>



    </main>


</div>



<script src="../assets/js/dashboard.js"></script>