<h2>🔔 Mensajes Internos</h2>

<hr>


<div class="toolbar">


    <button id="btnNuevoMensaje">

        ✉ Nuevo mensaje

    </button>


</div>


<br>


<div id="formMensaje" style="display:none;">


    <h3>
        Nuevo mensaje
    </h3>


    <label>
        Asunto:
    </label>


    <input 
        type="text"
        id="txtAsunto"
        placeholder="Asunto del mensaje">



    <br><br>



    <label>
        Mensaje:
    </label>


    <textarea
        id="txtMensaje"
        rows="5"
        placeholder="Escriba el mensaje">
    </textarea>



    <br><br>


    <label>
        Destinatario:
    </label>


    <select id="cmbDestinatario">


        <option value="">
            Seleccione usuario
        </option>


    </select>



    <br><br>



    <button id="btnEnviarMensaje">

        📤 Enviar

    </button>


</div>



<hr>



<h3>
    Bandeja de mensajes
</h3>



<div id="listaMensajes">


    <div class="empty">


        <h3>
            No existen mensajes.
        </h3>


        <p>
            Aquí aparecerán las comunicaciones internas.
        </p>


    </div>


</div>