<h2>🚻 Control de Salidas</h2>


<div class="toolbar">

    <input
        type="text"
        id="txtBuscarSalida"
        placeholder="Buscar estudiante...">


    <select id="cmbMotivo">

        <option value="">
            Seleccione motivo
        </option>

    </select>


    <button
        type="button"
        id="btnRegistrarSalida">

        🚪 Registrar salida

    </button>

</div>


<br>


<label>
    Observación:
</label>


<textarea
    id="txtObservacion"
    placeholder="Detalle opcional..."
    rows="3">
</textarea>



<hr>



<h3>
    Salidas activas
</h3>


<div id="listaSalidas">


    <div class="empty">

        <h3>
            No existen salidas activas.
        </h3>


        <p>
            Todos los estudiantes están en el aula.
        </p>


    </div>


</div>